@model TelemipAdapter.Models.Incls.Incl

@{
    ViewData["Title"] = "Корректировка данных";
}

    <h3>Корректировка данных</h3>

@*<h4>Инклинометр</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InitX" class="control-label"></label>
                <input asp-for="InitX" class="form-control" />
                <span asp-validation-for="InitX" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="X" class="control-label"></label>
                <input asp-for="X" class="form-control" readonly />
                <span asp-validation-for="X" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="InitY" class="control-label"></label>
                <input asp-for="InitY" class="form-control" />
                <span asp-validation-for="InitY" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Y" class="control-label"></label>
                <input asp-for="Y" class="form-control" readonly />
                <span asp-validation-for="Y" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Period" class="control-label"></label>
                <input asp-for="Period" class="form-control" />
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Возвратиться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
